#NewOS

#Copyright (C) 2023 Mohit D. Patel

#This program is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.

#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.

#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <http://www.gnu.org/licenses/>.


# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=no

INTERFACE_BRANDING="NewOS Limine Bootloader"

# The entry name that will be displayed in the boot menu.
:ZerOS
    # We use the Limine boot protocol.
    PROTOCOL=limine

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///catalyst.elf
